
    <div [hidden]='isTreeHidden' class="search-results-container" [class.is-searching]="_isSearching">
        <input [ipwrFocusMe]='!isTreeHidden' type='text' [hidden]='!canSearch' [formControl]="_search" />
        <!--
           <div class="input-group-addon" (click)='onRemoveSelected()'><span><i class="fa fa-times" aria-hidden="true"></i></span></div> 
        -->
                

        <ul>
            <li class='node top-node' *ngFor='let node of _rootNodes'>
                <tfrx-tree-node [node]='node'
                                [isVisible]='true' 
                                [isSearching]='_isSearching' 
                                [selectedNodes]='selectedNodes' 
                                [treeNodes]='treeNodes'
                                [dataProvider]='dataProvider' 
                                (selectedItemChanged)='onSelectedItemChanged($event)'></tfrx-tree-node>
            </li>
        </ul>
    </div>
